
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


<html>
    <head>
        <title>Manage Reservation</title>
    </head>

    <body>
    <h2>Manage Reservations</h2>
    <p>Press the corresponding button to confirm, modify, or delete a reservation</p>

    <div class="row justify-content-center mt-4">
        <div class="col-md-10">
            <table class="table table-bordered gridview-stype">
                <thead>
                    <tr>
                        <th>ReservationID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Party Size</th>
                        <th>Special Request</th>
                        <th>Confirm</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in Model)
                    {
                        <tr>
                            <td>@reservation.ReservationID</td>
                            <td>@reservation.FirstName</td>
                            <td>@reservation.LastName</td>
                            <td>@reservation.PhoneNumber</td>
                            <td>@reservation.Email</td>
                            <td>@reservation.Date.ToString("d")</td>
                            <td>@reservation.Time</td>
                            <td>@reservation.PartySize</td>
                            <td>@reservation.SpecialRequest</td>
                            <td>
                                <form asp-controller="Reservation" asp-action="ConfirmReservation" method="post">
                                    <input type="hidden" name="index" value="@Model.IndexOf(reservation)" />
                                    <button type="submit" class="btn btn-success">Confirm</button>
                                </form>
                            </td>
                            <td>
                                <a asp-controller="Reservation" asp-action="ModifyReservation" asp-route-id="@reservation.ReservationID" class="btn btn-info">Modify</a>
                            </td>
                            <td>
                                <form asp-controller="Reservation" asp-action="DeleteReservation" method="post">
                                    <input type="hidden" name="index" value="@Model.IndexOf(reservation)" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>